{% extends 'chandra/profile.html' %}
{% block body %}

<p class="a"><h1><center>About me</center></h1></p>
<h4>
    <p class="ex1">
    I’m fascinated by the Simplicity of Computer Science.
        <br>I recently (B.tech 2013-17) completed my Graduation in Electrical Engineering from IIT(BHU).</br>
where I studied  Electrical Engineering, machine learning, Artificial Intelligence and computer-assisted language learning.
    Meanwhile, I taught myself Python, Nodejs.

    </p>
    <p class="ex1">
     From July, 2017 I’ve been on the JioCloud team at Reliance Jio,
    where I’m working on the Various cloud technologies.
</p></h4>
{% endblock %}
